<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body class="navbar-fixed sidebar-nav fixed-nav">

{% block navbar %}
    {% include 'nav.html' %}
{% endblock %}

{% block sidebar %}
    {% include 'side.html' %}
{% endblock %}

<main class="main">
{% block breadcrumb %}
    {% include 'breadcrumb.html' %}
{% endblock %}

    <div class="container-fluid">
        <div class="animated fadeIn">
            {% block content %}

            {% endblock %}
        </div>
    </div>
<!-- /.conainer-fluid -->
</main>

{% block aside %}
    {% include 'aside.html' %}
{% endblock %}

{% include 'footer.html' %}

{% include 'js.html' %}
</body>
</html>